.information-code-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: auto;
    justify-content: center;
    max-width: 960px;
}

.information-code-item, .information-code-make-up {
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: .25rem .5rem .5rem -5px rgb(49, 49, 49);
    transition: box-shadow 0.5s;
}

.information-code-item + .information-code-item {
    margin-top: .75rem;
}

.information-code-item:nth-child(odd) {
    background-color: var(--paleblue);
}

.information-code-item:nth-child(odd):hover {
    box-shadow: .25rem .5rem .5rem -5px var(--blue);
    transition: box-shadow 0.5s;
}

.information-code-item:nth-child(even) {
    background-color: var(--paleyellow);
}

.information-code-item:nth-child(even):hover {
    box-shadow: .25rem .5rem .5rem -5px var(--orange);
    transition: box-shadow 0.5s;
}

.information-code-make-up {
    background-color: var(--medgrey);
}